[Unit]
Description=Rusty SOCKS5 Proxy with SSH Tunneling
After=network.target

[Service]
User=root
Environment="SSH_SERVER_ADDR=your_ssh_server.com:22"
Environment="SSH_USERNAME=your_ssh_username"
Environment="SSH_KEY_PATH=/path/to/your/ssh/key"
Environment="SOCKS5_PORT=1080"
ExecStart=/opt/rusty_socks_proxy/target/release/rusty_socks_proxy
Restart=always

[Install]
WantedBy=multi-user.target


